@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
    @apply m-0 p-0 w-full h-full;
}

body {
    @apply bg-hackerfooter bg-no-repeat bg-bottom bg-fixed bg-contain bg-node-black;
}

.post {
    height: 200px;
    width: 200px;
}
.st0 {
    fill: #ed1c40;
}

.message {
    resize: none;
}

.recruitmentBtn {
    all: unset;
    font-family: Helvetica, Arial, sans-serif;
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000000;
    font-size: 20px;
    border-radius: 25px;
    padding: 0 33px;
    font-weight: bold;
    height: 50px;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
}
.btnactive {
    background-color: #9fef00;
}

.btninactive {
    background-color: #4b5563;
}

.container {
    position: relative;
}

.center-button {
    margin: 0;
    position: absolute;
    justify-content: center;
    left: 150px;
}

/* .pcontainer {
    position: relative;
}

.hidebtn {
    position: absolute;
    display: none;
} */

.pcontainer:hover .hidebtn {
    display: block;
}

button:disabled {
    cursor: not-allowed;
    background-color: #cccccc;
}

button:disabled:hover {
    background-color: #cccccc;
    color: white;
}

.Events_Gallery {
    text-align: center;
    position: relative;
    width: 90%;
}
img {
    /* existing styles */

    display: block; /* add this line to remove any extra whitespace around the image */
    margin: auto; /* add this line to center the image horizontally within its cell */
}
.gallery {
    display: grid;
    grid-template-rows: repeat(5, 18vh);
    grid-template-columns: repeat(2, 45vw);
    transition: all 0.5s ease-in-out;
    background-color: #82a6cb;
    border-radius: 10px;
    padding: 0.25em;
    cursor: zoom-in;
    justify-content: center; /* add this line to center the grid horizontally */
    align-items: center; /* add this line to center the grid vertically */

    /* media queries */
}

.select-placeholder-text {
    color: pink;
}
